.gif-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .gif-img {
        border-radius: 10px 0px 0px 0px;
    }

    &.portrait {
        flex-direction: row;
    }

    &.landscape {
        flex-direction: column;
        align-items: baseline;
    }
}

.gif-img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.gif-details {
    padding: 16px;

    .gif-title {
        margin-bottom: 8px;
    }

    .gif-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;

        .gif-user-icon {
            width: 48px;
            height: 48px;
            background: white;
        }
    
        .gif-user-name {
            margin-left: 8px;
            // color: white;
        }
    }
}