<div class="sort">
    <mat-button-toggle-group name="sort" [(ngModel)]="sort" (change)="changeSort()">
        <mat-button-toggle value="desc">Newest</mat-button-toggle>
        <mat-button-toggle value="asc">Oldest</mat-button-toggle>
    </mat-button-toggle-group>
    <span>Sort:</span>
</div>
<div class="search-content">
    <div class="search-col" *ngFor="let col of columns; index as i;">
        <ng-template ngFor let-item [ngForOf]="col">
            <mat-card>
                <mat-card-content>
                    <div class="gif-details">
                        <!-- <ngx-skeleton-loader
                            *ngIf="!contentLoaded"
                            [theme]="theme(item?.images?.fixed_width_downsampled)"
                        >
                        </ngx-skeleton-loader> -->
                        <!-- <div [defaultImage]="item?.images?.fixed_width_downsampled?.url" [lazyLoad]="item?.images?.fixed_width_downsampled?.url"></div> -->
                        <img class="gif" [defaultImage]="'../assets/logo.png'" [lazyLoad]="item?.images?.fixed_width_downsampled?.url"/>
                        <div class="gif-info">
                            <div class="gif-user">
                                <img defer="" [src]="item?.user?.avatar_url || '../assets/logo.png'" class="gif-user-icon">
                                <span class="gif-user-name">{{ item?.user?.display_name || 'Giphy' }}</span>
                            </div>
                            <!-- <div class="gif-title">
                                <span>{{ item?.title }}</span>
                            </div> -->
                        </div>
                        <div class="gif-actions">
                            <div class="gif-action">
                                <button class="gif-action-icon" mat-icon-button [color]="!!collection[item.id] ? 'warn' : 'basic'" (click)="toggleFavorite(item)">
                                    <mat-icon>favorite</mat-icon>
                                </button>
                                <!-- <span class="gif-action-count">100</span> -->
                            </div>

                            <div class="gif-action">
                                <button class="gif-action" mat-icon-button color="basic" (click)="openDetails(item)">
                                    <mat-icon>chat</mat-icon>
                                </button>
                                <!-- <span class="gif-action-count">100</span> -->
                            </div>
                            
                            <div class="gif-action">
                                <button class="gif-action" mat-icon-button color="basic" (click)="toggleFavorite(item)">
                                    <mat-icon>bookmark</mat-icon>
                                </button>
                                <!-- <span class="gif-action-count">100</span> -->
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </div>
</div>