.search-bar {
    width: 100%;
    display: flex;

    .search-input-field {
        flex-grow: 1;
        padding-right: 16px;
    }

    .search-filter-field {
        width: 125px;
        padding-right: 16px;
    }
}