/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card {
    box-shadow: none !important;
    margin-bottom: 10px;
    background: transparent !important;
}

.mat-mdc-card-content {
    padding: 0px !important;

    img {
        border-radius: 10px;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.51);
        // transition: all 0.2s ease-in-out;
        // &:hover {
        //     width: 110%;
        //     height: 110%;
        // }
    }
}

.mat-mdc-text-field-wrapper {
    border-radius: 10px !important;
}

.mat-form-field-underline {
    display: none;
}